APP_NAME="LYDAM"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://lydamworld.com.ar

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_AR

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_DATABASE=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@lydam.com"
MAIL_FROM_NAME="${APP_NAME}"

FILESYSTEM_DISK=public

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_CURRENCY=ARS

PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
PAYPAL_CURRENCY=USD

BANK_ACCOUNT_HOLDER="LYDAM Store"
BANK_NAME="Banco de la Nación Argentina"
BANK_CBU=0000003100098765432101
BANK_ALIAS=LYDAM.TRIBAL.UNDER

GEMINI_API_KEY=

VITE_APP_NAME="${APP_NAME}"
