/node_modules
/vendor
/public/build
/public/hot
/public/storage
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
user.ini
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/*
!/storage/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/database/*.sqlite
/database/*.sqlite-journal
/database/*.sqlite-shm
/database/*.sqlite-wal
.idea
.vscode
.DS_Store
auth_json.key
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/composer.phar
/deploy.zip
/unzip.php
